html{
    height: 100%;
}
body{
    height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;
}
td{
    border: 1px solid black;
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
}
td{
    cursor: pointer;
}
td:hover{
    font-size: larger;
}